body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

/* .forum-card:hover{
  transform: scale(1.05, 1.05);
} */
.collabcard:hover{
  outline-style: solid;
  outline-color: ghostwhite;
}

.profilepic{
  border-radius: 50%;

}
.x{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action{
  display: flex;
  justify-content: center;
  align-items: center;
}